<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout-admin}">
<head>
    <meta charset="UTF-8">
    <title>Categories list</title>
</head>
<body>
<section layout:fragment="content">
    <a th:href="@{/}">Back to Home</a>
    <br/>
    <a th:href="@{/admin/categories/search}">Search Categories</a>
    <br/>
    <a th:href="@{/admin/categories/add}">Add more category</a>
    <table border="1">
        <tr>
            <th style="text-align: center;">ID</th>
            <th style="text-align: center;">Image</th>
            <th style="text-align: center;">Category name</th>
            <th style="text-align: center;">Status</th>
            <th style="text-align: center;">Action</th>
        </tr>
        <tr th:each="cate, STT : ${categoryList}" class="odd gradeX">
            <td width="50" style="text-align: center;">
                <a th:href="@{/admin/categories(id=${cate.categoryId})}" th:text="${cate.categoryId}"></a>
            </td>
            <td style="text-align: center;">
                <img height="150" width="200"
                     th:src="${cate.image != null && #strings.startsWith(cate.image, 'https') ? cate.image : '/image?filename=' + (cate.image != null ? cate.image : '')}"/>
            </td>
            <td style="text-align: center;" th:text="${cate.categoryName}"></td>
            <td style="text-align: center;">
                <span th:text="${cate.status == 1 ? 'Active' : 'Locked'}"></span>
            </td>
            <td style="text-align: center;" width="200">
                <a style="color: blue" th:href="@{/admin/categories/edit(id=${cate.categoryId})}">Edit</a>
                <a style="color: red" th:href="@{/admin/categories/delete(id=${cate.categoryId})}">Delete</a>
            </td>
        </tr>
    </table>
</section>
</body>
</html>